.root{
    -fx-background-color: #0f0826;
    -fx-border-color: #220&bb;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}



.glass-effect{
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-effect: innershadow(gaussian, #333, 10, 0, 0, 0.6);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
    /*-fx-border-color: #220&bb;*/
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}


.inner-pane{
    -fx-background-color: #5033ab;   /*#1c085c*/
    -fx-border-color: #5033ab;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
}

.text-color{
  -fx-fill: linear-gradient(to right, #333C8A, #CF3E8B);
}


.textual-field-color{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to right, #333C8A, #CF3E8B);
    -fx-border-width: 0px 0px 2px 0px;
    -fx-prompt-text-fill: white;
    -fx-text-fill: linear-gradient(to right, #333C8A, #CF3E8B);
}

.button-color{
    -fx-background-color: transparent;
    -fx-background-color: linear-gradient(to right, #333C8A, #CF3E8B);
    -fx-border-color: linear-gradient(to right, #333C8A, #CF3E8B);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.combo-color{
    -fx-background-color: linear-gradient(to right, #333C8A, #CF3E8B);
    -fx-border-color: linear-gradient(to right, #333C8A, #CF3E8B);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: white;
}

.combo-color .text-field{
    -fx-text-fill: white;
}

.combo-color .list-view{
    -fx-background-color: linear-gradient(to right, #333C8A, #CF3E8B);
}