.root{
    -fx-background-color: #0f0826;
    -fx-border-color: #220&bb;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
}

.search_pane{
    -fx-background-color: #5033ab;   /*#1c085c*/
    -fx-border-color: linear-gradient(to right, #333C8A, #CF3E8B);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;

}

.tableHeader{
    -fx-background-color: #5033ab;
    -fx-border-color: linear-gradient(to right, #333C8A, #CF3E8B);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.tablePane{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to right, #333C8A, #CF3E8B);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-background-radius: 10px 10px 50px 10px;
    -fx-border-radius: 10px 10px 40px 10px;
}

.itemImage{
    -fx-background-color: #5033ab;
}

.tableScrollPane{
    -fx-background-color: #0f0826;
    -fx-border-color: #0f0826;
    -fx-spacing: 2px;
    -fx-padding: 0px;
    -fx-background: null;
    -fx-border-width: 0px;
}

.item_pane{
    -fx-background-color: #5033ab;   /*#1c085c*/
    -fx-border-color: linear-gradient(to right, #333C8A, #CF3E8B);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;

}
